@import '../../../styles/variables.scss';

.cursor {
    position: fixed;
    z-index: 10;

    contain: layout style size;
    pointer-events: none;
    &:before {
        content: '';
        position: absolute;
        top: -56px;
        left: -24px;
        display: block;
        width: 48px;
        height: 48px;
        transform: scale(0.2);
        background: $light;
        border-radius: 100px;
    }
}
